.consultation-form-container {
  padding: 30px 10px;
}

.consultation-form-section {
  padding: 30px 10px;
  background-color: #f5f5f5;
}

.consultation-form-title {
  margin-bottom: 8px;

  color: var(--title-color);
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}

.consultation-form-text {
  margin-bottom: 25px;

  color: var(--title-color);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}

.consultation-form-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  outline: none;

  color: var(--title-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 150%; /* 21px */
}

.consultation-form-input:last-of-type {
  margin-bottom: 20px;
}

.consultation-form-btn {
  margin: 0 auto;
  width: 294px;
  height: 49px;
  display: flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  color: var(--secondary-text-color);
  font-size: 14px;

  background: #ae0000;
}

.consultation-form-icon {
  width: 16px;
  height: 12px;
}

@media screen and (min-width: 1240px) {
  .consultation-form-container {
    padding: 0px 0px;
  }

  .consultation-form-section {
    width: 466px;

    padding: 55px 110px;
  }

  .consultation-form-title {
    font-size: 26px;
  }

  .consultation-form-text {
    margin-bottom: 40px;

    font-size: 16px;
  }

  .consultation-form-input {
    width: 416px;
    padding: 10px;
    margin-bottom: 10px;

    color: var(--title-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 150%; /* 21px */
  }

  .consultation-form-input:last-of-type {
    margin-bottom: 20px;
  }

  .consultation-form-btn {
    margin: 0 auto;
    width: 294px;
    height: 49px;
    display: flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    color: var(--secondary-text-color);
    font-size: 14px;

    background: #ae0000;
  }

  .consultation-form-icon {
    width: 16px;
    height: 12px;
  }
}
