.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 35px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.nav-desk {
  color: var(--secondary-background-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 130%; /* 20.8px */
  text-transform: uppercase;
}

.nav-desk:hover {
  text-decoration-line: underline;
}

@media screen and (min-width: 1024px) {
  .header-container {
    padding-top: 28px;
    padding-bottom: 24px;
  }
}

.logo-link {
  display: flex;
  align-items: center;
}

.icon-logo {
  width: 25px;
  height: 16px;
}

.icon-burger {
  width: 22px;
  height: 14px;
}

.btn-burger {
  position: relative;
}

.icon-cross {
  display: block;
  margin-left: 4px;
  width: 16px;
  height: 16px;

  position: absolute;
  opacity: 0;
  pointer-events: none;
}

@media screen and (max-width: 1023.98px) {
  .truth-img {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .desk-nav {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .btn-burger {
    display: none;
  }
}

.nav-desk-list {
  display: flex;
  gap: 47px;
}

.mob-menu {
  position: absolute;

  top: 44px;
  padding-top: 60px;
  width: 100%;
  height: 100vh;
  background: var(--background-color);

  text-align: center;
  transition: transform var(--main-transition);
  overflow-y: hidden;
}

.nav-mob {
  color: var(--secondary-background-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 130%; /* 20.8px */
  text-transform: uppercase;
}

.nav-mob-item {
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav-mob-item:first-child {
  padding-top: 0;
}

.visible {
  opacity: 1;
  pointer-events: auto;

  transition: display var(--main-transition);
}

.hidden {
  opacity: 0;
  pointer-events: none;

  transition: display var(--main-transition);
}

.visible-menu {
  opacity: 1;
  pointer-events: auto;

  transform: translateX(0);
  transition: transform var(--main-transition), opacity var(--main-transition);
}

.hidden-menu {
  opacity: 0;
  pointer-events: none;

  transform: translateX(100%);
  transition: transform var(--main-transition), opacity var(--main-transition);
}
