.services-container {
  padding-bottom: 60px;
}

.services-title {
  padding-top: 15px;
  padding-bottom: 15px;
}

.services-title-container {
  margin-bottom: 20px;
}

.service-container {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 30px;
  padding-left: 10px;

  background: var(--background-color);
}

.service-img {
  width: 100%;
  margin-bottom: 15px;
}

.services-subtitle {
  margin-bottom: 15px;

  color: var(--title-color);
  font-size: 18px;
  font-family: Inter;
  font-weight: 600;
  line-height: 130%; /* 23.4px */
}

.services-list {
  margin-bottom: 25px;
}

.services-item:not(:last-child) {
  margin-bottom: 15px;
}

.services-item-container {
  display: flex;
  gap: 10px;
}

.services-num {
  color: var(--title-color);
  font-size: 16px;
  font-weight: 800;
}

.services-text {
  color: var(--title-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 130%; /* 18.2px */
}

.services-btn {
  color: var(--accent-color);
  font-size: 14px;
  font-weight: 600;
}

.service-icon-arrow {
  width: 16px;
  height: 12px;
  color: var(--accent-color);
}

@media screen and (min-width: 1240px) {
  .services-container {
    padding-bottom: 160px;
  }

  .services-title {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .services-title-container {
    margin-bottom: 30px;
  }

  .services-article-item {
    margin-bottom: 30px;
  }

  .service-container {
    padding: 40px;

    display: flex;
    gap: 130px;
  }

  .service-img {
    width: 270px;
    height: 180px;
    margin-bottom: 40px;
  }

  .services-subtitle {
    width: 300px;
    margin-bottom: 0px;
  }

  .services-list {
    margin-bottom: 55px;
  }

  .services-item:not(:last-child) {
    margin-bottom: 20px;
  }

  .services-num {
    font-size: 18px;
  }

  .services-text {
    font-size: 18px;
  }

  .services-btn {
    font-size: 18px;
  }
}
